body {
    background-color:#005A41;
}
header{
    background-color: white;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
footer{
    color: white;
    background-color:#005A41;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
}
#main_content{
    height: 600px;
    width: 800px;
    background-color: white;
    margin: auto;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 200;
}
form{
    height: 420px;
}

#frmReturnBook, #frmCheckout {
    height: 50px;
}

#tblList {
    height: 360px;
}

.button{
    text-align: right;
}

h5{
    cursor: default;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
    background: transparent;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 400;
    height: 55px;
    text-align: left;
}

#btnSubmit, #btnReturn, #btnGotoHome {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    touch-action: manipulation;
    transition: all 0.5s;
    padding: 0 10px;
    min-width: 120px;
    margin: 0 0 0 0 !important;
    margin-top: 0px;
    margin-right: 0px;
    margin-right: 1rem !important;
    margin-top: 1.8rem !important;
    box-shadow: 0 3px 3px 0 transparent;
    font-weight: 700;
    min-height: 45px;
    border: 2px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
    font-size: 1.2rem;
    border-radius: 4.5px;
    min-height: 45px;
    background: #BBCC00;
    color: #005A41;
    box-shadow: 6.356px 12.474px 16.38px 1.62px rgba(0,0,0,0.36);
    border: #BBCC00;
}

#errorMessage {
    font-size: 1rem;
    color: red;
    text-align: center;
}

#successMessage {
    height: 350px;
    text-align: center;
    padding-top: 100px;
}
